button:hover{
    transform: scale(1.05);
    background-color: #1E40AF;
}

input{
    border: 1px  solid #1E40AF;
    background-color: #dce3f9;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.2);

}

.forecast_eles{
  min-height: 24%;
  width: 90%;
  max-width: 500px;
  /* border: 2px solid greenyellow; */
  background-color: #DBEAFE;
  border-radius: 8px;
  box-shadow: 15px 12px 20px -8px rgba(0, 0, 0, 0.25);
}

#five_day_forecast::-webkit-scrollbar{
  display: none;
}

.add_details_items{
  width: 100%;
  height: 30%;
  border: 1px solid #BFDBFE;
  border-radius: 8px;
  /* background-color:#BFDBFE ; */
  box-shadow: 8px 8px 10px -12px rgba(0, 0, 0, 0.25);
}

.more_details_items{
  border-bottom: 1px solid #DBEAFE;
}




/* for smaller screen */
@media (max-width: 769px) {

  main{
    flex-direction: column;
    justify-content: start;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem
  }

  #search_city_ele, #weather_display_ele{
    height: auto;
    font-size: 1.5rem;
    max-width: 500px;
    min-width: 380px;
  }

  #search_ele{
    margin-top: 1rem;
  }

  #weather_display{
    flex-direction: column;
    width: 90vw;
    height: auto;
    justify-content: center;
    align-items:center;
    margin: auto;
    margin-top: 2rem;

  }

  #today_weather{
    width: 100%;
    /* background-color: #1E40AF; */
    min-height:500px ;
  }

  #five_day_forecast{
    width: 100%;
    min-height: 500px;
    /* background-color: aqua; */
  }

  #city_today_highlights{
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1rem;

  }

  #city_today_highlights > *{
    margin-right: 1rem;
    height: auto;
  }

  .forecast_eles{
    min-height: 150px;
    width: 100%;
    /* border: 2px solid greenyellow; */
    /* background-color: #DBEAFE;
    border-radius: 8px;
    box-shadow: 15px 12px 20px -8px rgba(0, 0, 0, 0.25); */
  }

  #today_weather_detailed{
    flex-direction: column;
  }

  #main_detials{
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
  }

  .temp_desc_container{
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
  }
  .display_items{
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
  }
  #current_temp_desc{
    border: none;
    border-bottom: 1px solid #BFDBFE;
  }
 
}